<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Sitecore.DataExchange.Gutters.Core">
					<predicate>
            <include name="Gutters" database="core" path="/sitecore/content/Applications/Content Editor/Gutters">
              <exclude children="true">
                <except name="DataExchange - Item Disabled" />
                <except name="DataExchange - Pipeline Batch" />
                <except name="DataExchange - Pipeline Step" />
              </exclude>
            </include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
