<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!-- 
      Properties in this section are global properties and should not be in a conditional section.
      
      To use these properties globally, please uncomment the properties and make sure they stay in a global property group.
    -->
    <!--
    <CompactSitecoreItemsInProjectFile></CompactSitecoreItemsInProjectFile>
    <SerializationFormat></SerializationFormat>
    -->
  </PropertyGroup>
</Project>